<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>【#Groupy広告モデル1 】</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="og:description" content="上位1名は来場者数20万人超えの中国広州FFACG特大看板に掲載！応援しよう！">
    <meta property="og:image" content="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/acticity_banner/activity-ffacg201805.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://groupy.vip/favicon.ico" />
</head>

<body>
<div id="app"></div>
</body>

</html>
