<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>【Groupy駅看板モデル選定企画】</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="og:description" content="上位3名は中国広州大型駅看板に掲載！動画がいっぱい投稿されているので、応援しよう。">
    <meta property="og:image" content="https://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/acticity_banner/activity-subwayAds_preliminaries.jpg"/>
    <link rel="shortcut icon" type="image/x-icon" href="http://photoh5-jp.oss-ap-northeast-1.aliyuncs.com/Groupywebsite/favicon.ico" />
</head>

<body>
<div id="app"></div>
</body>

</html>
