// @font-face {
//     font-family: 'Toppan Bunkyu Midashi Mincho StdN ExtraBold';
//     src: url('https://photoh5-cn.oss-cn-shenzhen.aliyuncs.com/font/ToppanBunkyuMidashiMinchoStdNExtraBold/Toppan%20Bunkyu%20Midashi%20Mincho%20StdN%20ExtraBold.eot');
//     src: url('https://photoh5-cn.oss-cn-shenzhen.aliyuncs.com/font/ToppanBunkyuMidashiMinchoStdNExtraBold/Toppan%20Bunkyu%20Midashi%20Mincho%20StdN%20ExtraBold.eot?#iefix') format('embedded-opentype'),
//          url('https://photoh5-cn.oss-cn-shenzhen.aliyuncs.com/font/ToppanBunkyuMidashiMinchoStdNExtraBold/ToppanBunkyuMidashiMincho-Extrabold.woff') format('woff'),
//          url('https://photoh5-cn.oss-cn-shenzhen.aliyuncs.com/font/ToppanBunkyuMidashiMinchoStdNExtraBold/ToppanBunkyuMidashiMincho-Extrabold.ttf') format('truetype'),
//          url('https://photoh5-cn.oss-cn-shenzhen.aliyuncs.com/font/ToppanBunkyuMidashiMinchoStdNExtraBold/ToppanBunkyuMidashiMincho-Extrabold.svg#Toppan Bunkyu Midashi Mincho StdN ExtraBold') format('svg');
// }
a,div{
    -webkit-user-select: auto;
}
html {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 20px;
    // font-weight: 600;
    background-color: #030220;
    // background-image: url(https://photoh5-cn.oss-cn-shenzhen.aliyuncs.com/idolFestival/bg.png);
    background-repeat: repeat;
}
.cursor {
    cursor: pointer;
}
.overflow {
    width: 100%;
    position: fixed;
}
.nav_open {
    width: 100%;
    position: fixed;
}
.content {
    position: relative;
    -webkit-overflow-scrolling: touch;
}
a {
    color: #BAB4F8;
    text-decoration: underline;
}
// h1, h2, h3, h4, h5, h6 {
//     font-weight: 600;
// }
.width900{
    max-width: 45rem;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.width1100{
    max-width: 55rem;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.width1200{
    max-width: 60rem;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}
.inlineBlock {
  display: inline-block;
  vertical-align: middle;
}
// 滚屏内容
// 萤火虫专场
.main-content {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 2rem;
    overflow: hidden;
}
.img_1 {
    position: absolute;
    left: 50%;
    top: 45rem;
    margin-left: -41rem;
    width: 28.3rem;
}
.img_1_2 {
    top: 145rem;
    left: 50%;
     margin-left: 10rem;
}
.img_1_3 {
    top: 220rem;
}
// .img_1_4 {
//     top: 230rem;
// }
// .img_1_5 {
//     top: 310rem;
// }
// .img_2 {
//     position: absolute;
//     left: 50%;
//     top: 28rem;
//     margin-left: 26rem;
//     width: 1.75rem;
// }
// .img_2_2 {
//     top: 120rem;
// }
// .img_2_3 {
//     top: 183rem;
// }
// .img_2_4 {
//     top: 263rem;
// }
// .groupy-may {
//     width: 24rem;
//     display: block;
//     margin: 0 auto 2.5rem;
//     position: relative;
// }
.idol-content {
    text-align: center;
    display: flex;
    position: relative;
}
.banner {
  background-image: url(https://photoh5-cn.oss-cn-shenzhen.aliyuncs.com/idolFestival201807/background.jpg);
  // background-repeat: repeat;
  // background-size: cover;
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
.banner_container {
    padding: 1.5rem 0 0;
}
.banner2 {
    display: none;
}
.idol-content li {
    flex: 1;
    font-size: 0.9rem;
    color: #F1AA26;
    line-height: 0.9rem;
    img {
        margin-bottom: 1rem;
    }
}
.idol_sfm {
    padding-top: 0.5rem;
    position: relative;
    img {
        width: 14rem;
        height: auto;
    }
}
.idol_asuka {
    padding-top: 3rem;
    img {
        width: 11.5rem;
    }
    p {
        color: #929A0F;
    }
}
.idol_tsp {
     img {
        width: 13rem;
    }
    p {
        color: #F13A81;
    }
}
.idol_xigua {
    img {
        width: 11.5rem;
    }
    p {
        color: #D53939;
    }
}
.ffacg-title {
    // background-image : url(https://photoh5-cn.oss-cn-shenzhen.aliyuncs.com/idolFestival/bg_ffacg.png);
    // background-size: cover;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    margin: 6rem auto 0.5rem;
    line-height: 2.1rem;
    // font-weight: 500;
    img {
        height: 2.1rem;
    }
    span {
        // position: absolute;
        // left: 0;
        margin: 0 2.25rem;
        // width: 100%;
        // top: 0;
    }
}
.ffacg-time {
    font-size: 1.4rem;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
}
.ffacg-left {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.65rem;
    width: 17rem;
    img {
        width: 100%;
        display: block;
        margin: 0 auto 0.6rem;
    }
    p {
        font-size: 0.7rem;
        color: #BAB4F8;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        font-weight: 400;
    }
}
.ffacg-right{
    display: inline-block;
    vertical-align: middle;
    max-width: 26rem;
}
.ffacg-h3title {
    font-size: 1.6rem;
    color: #BAB4F8;
    margin-bottom: 0.2rem;
}
.ffacg-p {
    font-size: 0.8rem;
    color: #fff;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
}
.reservation-btn {
    display: inline-block;
    padding: 0.275rem 1rem;
    font-size: 0.9rem;
    color: #FFFFFF;
    background: transparent;
    border: 0.1rem solid #874BF8;
    border-radius: 0.25rem;
    margin-top: 0.4rem;
    position: relative;
    em,img {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        width: 0.5rem;
        margin-left: 0.75rem;
    }
}
.reservation-btn:before {
  position: absolute;
  content: '';
  background: #874BF8;
  border-radius: 0.1rem;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  opacity: 1;

}
.reservation-btn:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}
.ffacg-desc-tile {
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    >* {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.25rem;
    }
    span {
        background: #fff;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
    }
    span:last-child {
        margin-right: 0;
    }
}
.ffacg-desc-tile-green {
    color: #00916E;
    span {
        background: #00916E;
    }
}
// .ffacg-desc-tile-pink {
//     color: #F13A81;
//     span {
//         background: #F13A81;
//     }
// }
.ffacg-desc {
    border: 0.2rem solid  #00224c;
    background: #fff;
    border-radius: 0.3rem;
    padding: 0.85rem;
}
.ffacg-dashed {
    border: 0.2rem dashed rgba(119,55,178,0.20);
    border-radius: 0.3rem;
    padding: 0 3.75rem 1.25rem 1.75rem;
}
.dashed-content {
    overflow: hidden;
    padding-top: 2rem;
}
.content-left {
    margin-right: 1.75rem;
    width: 4.4rem;
    font-size: 1.2rem;
    color: #1B318E;
    opacity: 0.9;
    float: left;
}
.content-left.small {
    font-size: 0.8rem;
}
.content-right {
    float: left;
    width: 30rem;
    border-bottom: 1px dashed #C1C1C1;
    padding-bottom: 1.3rem;
}
.content-right-last {
    border: none;
}
.content-title {
    font-size: 0.9rem;
    color: #333333;
    margin-bottom: 0.5rem;
    span {
        display: inline-block;
        width: 9rem;
        margin-right: 1.6rem;
    }
    em {
        display: inline-block;
        color: #D66901;
    }
}
.content-desc {
    font-size: 0.8rem;
    color: #999999;
    font-weight: 400;
    margin-bottom: 0.7rem;
    a {
      color: #1B318E;
    }
}
.ffacg-gmap {
    width: 100%;
    height: 12rem;
}
.ffacg-gmap-2 {
    height: auto;
}
.live-imgs {
    padding: 0 0.5rem;
    img {
        display: block;
        width: 100%;
    }
}
// live&Off会
// .live-time {
//     color: #0088D3;
// }
.ffacg-p-2 {
    margin-bottom: 2.8rem;
}
// 粉丝同游
// .tour-time {
//     color: #00916E;
// }
// 马上预约
.reservation-bigBtn {
    width: 30rem;
    margin: 4rem auto;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: #FFFFFF;
    background: transparent;
    border-radius: 0.5rem;
    position: relative;
    border: 0.1rem solid #874BF8;
    >* {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        width: 0.75rem;
        margin-left: 1.85rem;
    }
}
.reservation-bigBtn:before {
  position: absolute;
  content: '';
  background: #874BF8;
  border-radius: 0.1rem;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  width: 100%;
  height: 100%;
  opacity: 1;

}
.reservation-bigBtn:hover:before {
  width: 0;
  height: 100%;
  opacity: 1;
}
// 左栏菜单
.tabs {
    position: fixed;
    left: 0;
    top: 0;
    height: 5rem;
    line-height: 5rem;
    width: 100vw;
    text-align:center;
    background: #fff;
    z-index: 2;
    // border-bottom: #ee627c solid 2px;
    overflow: hidden;
    >span {
        display: inline-block;
    }
}
.tabs >* {
    transition: all 0.3s;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    padding: 0 2.3rem;
    border-right: solid rgba(97, 138, 244, 0.2) 0.05rem;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease;
}
.tabs .tabs-li-none {
    border-right: none;
}
.tabs-groupy-icon {
    display: inline-block;
    vertical-align: middle;
    border: none;
    img {
        height: 3.75rem;
        vertical-align: middle;
    }
}
.Groupy-web {
    font-size: 1.85rem;
    color: #F13A81;
    display: none;
    margin-left: 11px;
}
.tab-title {
    font-size: 1.1rem;
    color: #343434;
    margin-bottom: 0.35rem;
}
.tab-desc {
    font-size: 0.8rem;
    color: #1B318E;
    opacity: 0.8;
}
.tabs .tabs-li:hover {
    transform: scale(1.1)
}
// toast
.toast {
    position: absolute;
    bottom: 5rem;
    background: #fff;
    color: #333;
    width: 14rem;
    font-size: 0.8rem;
    left: 50%;
    margin-left: -7rem;
    padding: 0.6rem 0;
    border-radius: 0.2rem;
    transition: all 0.3s;
    transform: scale(0);
}
.toast.show {
    transform: scale(1);
}
// 预约窗口
.reservation,.navWindow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    line-height: 100vh;
    z-index: 3;
    text-align: center;
    background: rgba(0,0,0,0.8);
    transition: height 0.3s;
}
.reservationShow {
    height: 100vh;
}
.close {
    position: absolute;
    width: 2rem;
    top: 1.1rem;
    right: 5.3rem;
}
.reservation-content,.navs {
    display: inline-block;
    vertical-align: middle;
}
.reservation-title {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #9663F6;
}
.form {
    background: #FFFFFF;
    border: 4px solid rgba(119,55,178,0.20);
    border-radius: 0.3rem;
    width: 46rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}
.form-dashed {
    border: 4px dashed rgba(119,55,178,0.20);
    border-radius: 0.3rem;
    padding: 1.4rem 0.5rem;
}
.input-content {
    margin-bottom: 1.5rem;
    overflow: hidden;
    line-height: 2.5rem;
    font-size: 0.9rem;
    opacity: 0.9;
    >* {
        float: left;
    }
    span {
        text-align: right;
        width: 8.3rem;
        margin-right: 1.5rem;
        color: #1B318E;
    }
    input,select {
        width: 18rem;
        height: 2.5rem;
        border: 2px solid  rgba(27,49,142,0.20);
        border-radius: 4px;
        font-size: 0.9rem;
        color: #333333;
        margin-right: 0.75rem;
        padding: 0 10px;
        box-sizing: border-box;
    }
    input:focus,select:focus {
        border: 2px solid #1B318E;
    }
    em {
        font-size: 0.8rem;
        color: #874BF8;
    }
}
.form-tips {
    font-size: 0.8rem;
    color: #999999;
    font-weight: 400;
    margin-left: 8.8rem;
    line-height: 1.1rem;
    text-align: left;
    max-width: 29rem;
    a {
        color: #1B318E;
        text-decoration: underline;
    }
    p {
        margin-bottom: 0.7rem;
    }
}
.form-submite {
    background: #9663F6;
    border-radius: 10px;
    text-align: center;
    width: 25rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
    color: #FFFFFF;
    margin: 2rem auto 0;
}
// 导航弹窗
.navWindow {
    top: 51px;
    height: 0;
    line-height: calc(100vh - 51px);
}
.navWindowShow {
    height: calc(100vh - 51px);
}
.navs >*{
    width: 90vw;
    display: block;
    margin: 20px auto;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    color: #1B318E;
    line-height: 1.5;
    font-size: 0.8rem;
    padding: 12.5px 0;
    text-decoration: none
}
.navs-title {
    font-size: 1.2rem;
    font-weight: 600;
}
.navs-desc {
  color: #999;
}
// .navs .navs-blue {
//     background: #0088D3;
// }
// .navs .navs-green {
//     background: #00916E;
// }
// .navs .navs-yellow {
//     background: #F1B100;
// }
/* nav_bar ----------*/

#nav_bar {
  float: right;
  display: none;
  width: 30px;
  height: 17px;
  margin-top: 16.5px;
  padding: 0;
  margin-right: 20px;
}

#nav_bar:hover {
  cursor: pointer;
}

#nav_bar span {
  position: relative;
  display: block;
  width: inherit;
  height: inherit;
}

#nav_bar:after,
#nav_bar span:before,
#nav_bar span:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #F13A81;
  left: 0;
  top: calc( 50% + 5.5px);
  transition: all 0.2s ease-out;
}
#nav_bar:after {
    width: 30px;
    left: calc(50% - 15px);
}

#nav_bar:after {
  top: 0;
}

#nav_bar span:before {
  top: calc( 50% - 1.5px);
}

#nav_bar span:after {
  bottom: 28%;
}

#nav_bar:hover:after {
  top: 0;
}

#nav_bar:hover span:after {
  bottom: 35%;
}

.overflow #nav_bar:after {
  top: calc(50% - 3px);
  transform: rotate(135deg);
}

.overflow #nav_bar span:before {
  opacity: 0;
}

.overflow #nav_bar span:after {
  top: calc(50% - 3px);
  transform: rotate(-135deg);
}
.cn_tips {
    font-size: 0.7rem;
    color: #ddd;
    font-weight: 400;
    padding: 0.3rem 12px 0;
    p {
        padding: 0.25rem;
    }
}
.changeLan {
    font-size: 14px;
    color: #1B318E;
    border: 1px solid #1B318E;;
    padding: 0.1rem 0.4rem;
    border-radius: 0.1rem;
}
.form-img {
    width: 200px;
}
.warning {
  font-size: 0.8rem;
  color: #999999;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  a {
    color: #1B318E;
  }
  b {
    color: #666;
  }
  .titles {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    margin-right: 1.5rem;
  }
}
.swiper-pagination-bullet {
    width: 0.6rem;
    height: 0.6rem;
}
.swiper-pagination-bullet-active {
     background: #874BF8;
}
